*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
 overflow: auto;
 font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-weight: 100;
 color: rgba(255, 255, 255, 1);
 height: 50vw;
 margin: 0;
 padding: 0;
 background: #4A4A4A;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100vw;
  margin: 0vw;
  height: 90vw;
  overflow: auto;
}

.header {
  height: 4.88vw;
  width: 100vw;
  background: rgba(66, 66, 66, 1);
  text-align: center;
  position:relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.95vw;
  line-height: 4.88vw;
  font-weight: 100;
  letter-spacing: 0.09vw;
}

.left, .right {
  position: absolute;
  width: 0vw;
  height: 0vw;
  border-style: solid;
  top: 50%;
  margin-top: -0.68vw;
  cursor: pointer;
}

.left {
  border-width: 0.68vw 0.97vw 0.68vw 0;
  border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
  left: 1.95vw;
}

.right {
  border-width: 0.68vw 0 0.68vw 0.97vw;
  border-color: transparent transparent transparent rgba(160, 159, 160, 1);
  right: 1.95vw;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}

.week {
 background: #4A4A4A;
}

.day {
  display: inline-block;
  width: 14.28vw;
  padding: 0.97vw;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #4A4A4A;
  position: relative;
  z-index: 100;
}

.day.other {
 color: rgba(255, 255, 255, .3);
}

.day.today {
  color: rgba(156, 202, 235, 1);
}

.day-name {
  font-size: 0.87vw;
  text-transform: uppercase;
  margin-bottom: 0.48vw;
  color: rgba(255, 255, 255, .5);
  letter-spacing: 0.06vw;
}

.day-number {
  font-size: 2.34vw;
  letter-spacing: 0.1vw;
}


.day .day-events {
  list-style: none;
  margin-top: 0.29vw;
  text-align: center;
  height: 1.17vw;
  line-height: .58vw;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 0.48vw;
  height: 0.48vw;
  line-height: 0.48vw;
  margin: 0 0.09vw;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }

.details {
  position: relative;
  width: 100vw;
  height: 7.32vw;
  background: rgba(164, 164, 164, 1);
  margin-top: 0.48vw;
  border-radius: 0.39vw;
}

.details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

.arrow {
  position: absolute;
  top: -0.48vw;
  left: 50%;
  margin-left: -0.19vw;
  width: 0vw;
  height: 0vw;
  border-style: solid;
  border-width: 0 0.48vw 0.48vw 0.48vw;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}

.events {
  height: 7.32vw;
  padding: 0.68vw 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}

.events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}

.events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}

.event {
  font-size: 1.56vw;
  line-height: 2.15vw;
  letter-spacing: .04vw;
  padding: 0.19vw 1.56vw;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 0.97vw;
  width: 0.97vw;
  display: inline-block;
  margin: 0.58vw 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 0.68vw;
}

.legend {
  position: relative;
  width: 100%;
  height: 3vw;
  background: rgba(60, 60, 60, 1);
  line-height: 0vw;

}

.entry {
  position: relative;
  padding: 0 0 0 2.44vw;
  font-size: 1.27vw;
  display: inline-block;
  line-height: 2.93vw;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: '';
  height: 0.48vw;
  width: 0.48vw;
  top: 1.17vw;
  left: 1.36vw;
}

.entry.blue:after { background: rgba(156, 202, 235, 1); }
.entry.orange:after { background: rgba(247, 167, 0, 1); }
.entry.green:after { background: rgba(153, 198, 109, 1); }
.entry.yellow:after { background: rgba(249, 233, 0, 1); }

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0vw; margin-top:0vw; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0vw; margin-top:0vw; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0vw; margin-top:0vw; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0vw; margin-top:0vw; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0vw; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0vw; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0vw; height: 0vw; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0vw; height: 0vw; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0vw; height: 0vw; }
}
.navbar button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 0vw;
    width: 11vw;
    max-height: 40;
    float: none;
    height: auto;
    font-size: 5vw;
}
.navbar{
  width:100vw;
  text-align: center;
  padding-top: 1vw;
  padding-left: 0vw;
  padding-bottom: 8vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  height:8vw;
}
a {
  color: black;
}
#duck {
  width: 6vw;
  height: auto;
}
