br {
  display: block;
  font-size: 2vw;
  line-height:2vw;
}
body {
  font-family: "Open Sans";
  padding: 0;
  width: 100vw;
  height: 100vw;
  margin: 0;
}
input{
    height:3.5vw;
    height:4vw;
    font-size: 2vw;
}
button {
  font-family: 'Quicksand', sans-serif;
  background-color: #FFEB94;
  border: none;
  color: #01426a;
  padding: 1vw 2vw 1vw 2vw;
  height:4.5vw;
  width:20vw;
  float:right;
  font-size: 2vw;
  font-weight: bold;
}

div {
  background-color: #C1E1DC;
  padding: 3vw;
  height: 100vw;
}

p {
  color: #A0A0A0;
  font-size: 3vw;
  font-weight: bold;
}

h1 {
  color: #A0A0A0;
  text-align: center;
  font-size: 6vw;
  font-family: 'Zilla Slab', serif;
}
.smallFont{
    font-size: 3vw;
    color: #A0A0A0;
    font-weight: bold;
}
.warnFont{
    font-size: 2vw;
    color:red;
}
.content {
  font-family: 'Quicksand', serif;
  border: 2vw;
  background-color: #FFCCAC;
  height: auto;
  padding: 3vw 5vw 3vw 5vw;

}

.navbar button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 0vw;
    width: 11vw;
    max-height: 40;
    float: none;
    height: 5vw;
    font-size: 5vw;
    padding-bottom: 10vw;
}
.navbar{
  width:100vw;
  text-align: center;
  padding: 0vw;
  padding-top: 1vw;
  margin-top: 0vw;
  padding-bottom: 0vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 8vw;
}
#duck {
  width: 6vw;
  height: auto;
}
i:hover{
    color: red;
}
a {
  color: black;
}
