body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  margin: 0;
  max-width: 90.75vw;
  padding: 3.90625vw 0.9765625vw;
  line-height: 1.65em;
  background: #FFCCAC;
  color: #fff;
  font-weight: 300;
  padding-left: 0vw;
}
p#quoteText {
  font-size: 200%;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid white;
  box-shadow: 2px 2px black;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
  font-size: 1.2em;
  margin: 0 auto;font-weight: 300;
  max-width: 90.75vw;
  padding: 3.90625vw 0.9765625vw;
  line-height: 1.65em;
  font-weight: 300;
  color: #4d4d4d;

}
.container {
  text-align: center;
  padding-left: 5vw;
}
button {
  font-family: 'Quicksand', sans-serif;
  background:#C1E1DC;
    border: 0;
    color: #fff;
    font-size: 2.953125vw;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 5.859375vw;
    display: block;
    text-align: center;
    border-radius: 0.5859375vw;
    font-weight: bold;
}

h1 {
  text-align: center;
  margin: 20% 0 5% 0;
  font-size: 100vw;
  font-family: 'Quicksand', sans-serif;
  padding: 40px;
  margin: 0 auto;font-weight: 300;
  max-width: 90.75vw;
  padding: 3.90625vw 0.9765625vw;
  line-height: 1.65em;
  color: #6b6bc7;
  text-shadow: 2px 2px white;
  font-weight: bold;
}
.navbar button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 0vw;
    width: 11vw;
    max-height: 40;
    float: none;
    height: auto;
    font-size: 5vw;
    display: inline-block;
}
a {
  color: black;
}
.navbar{
  width:100vw;
  text-align: center;
  padding-top: 2vw;
  padding-left: 0vw;
  padding-bottom: 0vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  height:8vw;
}
#duck {
  width: 6vw;
  height: auto;
}
