p {
  margin: 1.953125vw;
  font-size: 4em;
  font-family: courier;
  color: gray;
  background: #FFCCAC;
}

body {
  background: #FFCCAC;
  padding-left: 0vw;
  margin: 0;
}

ul {
  margin: 1.953125vw;
  font-size: 3em;
  font-family: courier;
  color: gray;


}

li {
  display: inline-block;
  margin: 0 0.48828125vw 0;
  color: white;
  background-color: #FFCCAC;
  border-radius: 4.8828125vw;
  width: 6.8359375vw;
  height: 6.8359375vw;
  line-height: 6.8359375vw;
  text-align: center;
  cursor: pointer;
  color: gray;

}
.navbar button{
    background-color: transparent;
    border: none;
    color: black;
    padding: 0vw;
    width: 11vw;
    max-height: 40;
    float: none;
    height: auto;
    font-size: 5vw;
}
a {
  color: black;
}
.navbar{
  width:100vw;
  text-align: center;
  padding-top: 2vw;
  padding-left: 0vw;
  padding-bottom: 0vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  height:8vw;
}
#duck {
  width: 6vw;
  height: auto;
}
i:hover{
    color: red;
}
#timer-beep {
  position: absolute;
  top: -100000em;
}
